*.pyc
__pycache__
*.pkl
*.out
*.csproj
*.meta
*.mat
*.sln
*.userprefs
*.data
*.idx
Dockerfile
baselines/*
block_world/Library
Assets
block_world/ProjectSettings
block_world/Temp
block_world/obj
builds/*
out
.idea/
block_world/.vs/
dist_world/dagger_dist_world/
