*.pyc
__pycache__
*.pkl
*.out
*.csproj
*.meta
*.mat
*.sln
*.userprefs
*.data
*.idx
*.png
*.tiff
Dockerfile
baselines/*
block_world/Library
Assets/*.meta
block_world/Assets/BlockWorld.unity
block_world/Assets/ImageSynthesis/
block_world/Assets/Resources/
block_world/ProjectSettings
block_world/Temp
block_world/obj
builds/*
out
.idea/
block_world/.vs/
dist_world/dagger_dist_world/
*.tfrecord
*.swp
*.npy
dagger_block_world
